services:
  prosody:
    build:
      context: .
      target: prosody-dev
    ports:
      - "127.0.0.1:5222:5222"
      - "127.0.0.1:5281:5281"
      - "127.0.0.1:8888:80"
      - "127.0.0.1:8065:8065"
    volumes:
      - ./confs/prosody.cfg.lua:/etc/prosody/prosody.cfg.lua
      - ./confs/mod_privilege.lua:/var/lib/prosody/custom_plugins/share/lua/5.2/mod_privilege.lua

  slidge-dummy:
    build:
      context: .
      target: slidge-dev
    command:
      - --config=/slidge-example.ini
      - --legacy-module=slidge.plugins.dummy
      - --jid=dummy.localhost
    volumes:
      - ./slidge:/venv/lib/python3.9/site-packages/slidge
      - ./persistent:/var/lib/slidge
      - ./confs/slidge-example.ini:/slidge-example.ini
    depends_on:
      - prosody
    network_mode: "service:prosody"

  slidge-telegram:
    build:
      context: .
      target: slidge-dev
    command:
      - --config=/slidge-example.ini
      - --legacy-module=slidge.plugins.telegram
      - --jid=telegram.localhost
    volumes:
      - ./slidge:/venv/lib/python3.9/site-packages/slidge
      - ./persistent:/var/lib/slidge
      - ./confs/slidge-example.ini:/slidge-example.ini
    depends_on:
      - prosody
    network_mode: "service:prosody"

  slidge-signal:
    build:
      context: .
      target: slidge-dev
    command:
      - --config=/slidge-example.ini
      - --legacy-module=slidge.plugins.signal
      - --jid=signal.localhost
    volumes:
      - ./slidge:/venv/lib/python3.9/site-packages/slidge
      - ./persistent:/var/lib/slidge
      - ./persistent/signald:/signald
      - ./confs/slidge-example.ini:/slidge-example.ini
    depends_on:
      - prosody
      - signald
    network_mode: "service:prosody"

  slidge-facebook:
    build:
      context: .
      target: slidge-dev
    command:
      - --config=/slidge-example.ini
      - --legacy-module=slidge.plugins.facebook
      - --jid=facebook.localhost
    volumes:
      - ./slidge:/venv/lib/python3.9/site-packages/slidge
      - ./persistent:/var/lib/slidge
      - ./confs/slidge-example.ini:/slidge-example.ini
    depends_on:
      - prosody
    network_mode: "service:prosody"

  slidge-skype:
    build:
      context: .
      target: slidge-dev
    command:
      - --config=/slidge-example.ini
      - --legacy-module=slidge.plugins.skype
      - --jid=skype.localhost
    volumes:
      - ./slidge:/venv/lib/python3.9/site-packages/slidge
      - ./persistent:/var/lib/slidge
      - ./confs/slidge-example.ini:/slidge-example.ini
    depends_on:
      - prosody
    network_mode: "service:prosody"

  slidge-hackernews:
    build:
      context: .
      target: slidge-dev
    command:
      - --config=/slidge-example.ini
      - --legacy-module=slidge.plugins.hackernews
      - --jid=hackernews.localhost
    volumes:
      - ./slidge:/venv/lib/python3.9/site-packages/slidge
      - ./persistent:/var/lib/slidge
      - ./confs/slidge-example.ini:/slidge-example.ini
    depends_on:
      - prosody
    network_mode: "service:prosody"

  slidge-mattermost:
    build:
      context: .
      target: slidge-dev
    command:
      - --config=/slidge-example.ini
      - --legacy-module=slidge.plugins.mattermost
      - --jid=mattermost.localhost
    volumes:
      - ./slidge:/venv/lib/python3.9/site-packages/slidge
      - ./persistent:/var/lib/slidge
      - ./confs/slidge-example.ini:/slidge-example.ini
    depends_on:
      - prosody
    network_mode: "service:prosody"

  slidge-steam:
    build:
      context: .
      target: slidge-dev
    command:
      - --config=/slidge-example.ini
      - --legacy-module=slidge.plugins.steam
      - --jid=steam.localhost
    volumes:
      - ./slidge:/venv/lib/python3.9/site-packages/slidge
      - ./persistent:/var/lib/slidge
      - ./confs/slidge-example.ini:/slidge-example.ini
    depends_on:
      - prosody
    network_mode: "service:prosody"

  slidge-discord:
    build:
      context: .
      target: slidge-dev
    command:
      - --config=/slidge-example.ini
      - --legacy-module=slidge.plugins.discord_self
      - --jid=discord.localhost
    volumes:
      - ./slidge:/venv/lib/python3.9/site-packages/slidge
      - ./persistent:/var/lib/slidge
      - ./confs/slidge-example.ini:/slidge-example.ini
    depends_on:
      - prosody
    network_mode: "service:prosody"

  signald:
    image: signald/signald:0.21.1
    volumes:
      - ./persistent/signald:/signald
    environment:
      - SIGNALD_TRUST_ALL_KEYS:true
      - SIGNALD_TRUST_NEW_KEYS:true

  movim:
    environment:
      MOVIM_DOMAIN: http://localhost:8888
      MOVIM_PORT: 8080
      MOVIM_INTERFACE: 0.0.0.0
      POSTGRES_DB: movim
      POSTGRES_HOST: postgresql
      POSTGRES_PORT: 5432
      POSTGRES_USER: movim
      POSTGRES_PASSWORD: BAD
    image: movim/movim:0.21rc1
    volumes:
      - ./persistent/movim/html:/var/www/html:rw
    network_mode: "service:prosody"
    depends_on:
      - postgresql

  nginx:
    image: nginx:mainline-alpine
    volumes:
      - ./persistent/movim/html:/var/www/html:ro
      - ./confs/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    network_mode: "service:prosody"
    depends_on:
      - movim

  postgresql:
    environment:
      POSTGRES_DB: movim
      POSTGRES_PASSWORD: BAD
      POSTGRES_USER: movim
    image: postgres:14-alpine
    volumes:
      - ./persistent/movim/postgres/data:/var/lib/postgresql/data:rw

  mattermost:
    image: mattermost/mattermost-preview
    network_mode: "service:prosody"
    volumes:
      - ./confs/mattermost-mysql-darwin.cnf:/etc/mysql/mysql.conf.d/slidge.cnf
