[Unit]
Description=Slidge XMPP %i bridge
Wants=network-online.target
After=network.target network-online.target

[Service]
ExecStart=/usr/bin/slidge -c /etc/slidge/conf.d/%i.conf
KillSignal=SIGINT
User=slidge
Group=slidge
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
