Source: slidge
Section: python
Priority: extra
Maintainer: IGImonster <igimonster@mailbox.org>
Build-Depends: debhelper-compat (= 13), dwz,  python3, dh-virtualenv (>= 1.0), python3-setuptools, python3-pip, python3-dev, libffi-dev
Standards-Version: 3

Package: slidge
Architecture: any
Pre-Depends: python3, ${misc:Pre-Depends}
Depends: ${python3:Depends}, python3-gdbm, ${misc:Depends}, python3, libc++1, python3-slixmpp-lib, shared-mime-info, libpython3.9
Description: A multi XMPP Bridge
